footer{

	min-height:8.88em;

	background: $purpD;
	display:flex;
}

.foot-back{
width:100%;

		ul{

			min-height:8.88em;
			display:flex;
			align-items: center;
			justify-content:space-between;


		}

		a{

		color:white;
		font-size:27px;
		text-transform:capitalize;
		}



}
